:root {
  --blue : rgb(0, 136, 255);
  --secondaryBlue : rgb(94, 189, 240);
  --yellow : rgb(241, 241, 0);
  --gold :  rgb(212,175,55);
  --black : black;
  --primaryGrey : rgb(119, 119, 119);
  --secondaryGrey : rgb(160, 136, 132);
  --ternaryGrey : rgb(202, 201, 201);
  --linkColor : #551A8B;
}

html {
  font-size : 16px; 
  box-sizing: border-box;
}
body  {
  height : 100vh;
  font-family: 'Roboto', sans-serif;
  margin : 0;
}

ul, p, h1, h2 , h3{
  padding : 0;
  margin : 0;
}

 h1 {
  font-size : 2.5rem;
}

h2{
  font-size : 1.75rem;
}

h3{
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color : var(--black);
}

.svg{
  height: 2.5rem;
  width: 2.5rem;
}

.hide{
  visibility: hidden;
}

.disappear{
  display : none;
}

button{
  width : 100%;
  height: 7%;
  padding : 8px 0px;
  font-size: 1.2rem;
  font-weight: 500;
  border-style: none;
  border-radius: 5px;
}

/*  ============ Header Component ============ */

header  {
  color : var(--yellow);
  padding : 20px;
  background-color: var(--blue);
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .emptyDiv{
  height : 20px;
  width : 20px;
}

header a{
  position :relative
}

header a svg{
  height : 2rem;
  width : 2rem;
  color : var(--black);
  padding-top: 5px;
}

span.display{
  position: absolute;
  background-color: rgb(252, 2, 2);
  color : white;
  padding : 5px 10px;
  border-radius:50%;
  right : -12px;
  top:-12px;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
}

/* ====== Title Component ========== */

.title{
  padding : 10px;
}

/*============ Nav Component =============== */

nav.navRoutes{
  position : fixed;
  bottom : 0;
  left : 0;
  right : 0;
  background-color: var(--blue);
}

nav.navRoutes ul{
  display : flex;
  list-style-type: none;
}

nav.navRoutes ul li {
  border : 1px solid var(--black);
  flex-grow: 1;
}
nav.navRoutes ul li:hover, nav.navTabs p:hover , .itemDetailsContainer  button:hover {
 cursor: pointer;
}

nav.navRoutes ul li a {
  color : var(--yellow);
  display : flex;
  flex-direction: column;
  align-items: center;
  padding : 1.5dvh 0px;
}
nav.navRoutes ul li a p{
  font-size : 1.15rem;
}



/* ============= Victual Component ============ */

main.itemsContainer, div.itemDetailsContainer{
  padding : 10px 20px 100px 20px;
}

main.itemsContainer nav.navTabs{
  padding : 8px;
  display : flex;
 
} 
main.itemsContainer nav.navTabs > *{
flex-grow: 1;
text-align: center;
}

main.itemsContainer nav.navTabs > *.tabs{
  font-size : 1.4rem;
  font-weight: 400;
  color : var(--primaryGrey);
}

main.itemsContainer nav.navTabs > .activeTab{
  font-size : 1.45rem;
  font-weight: 500;
}

/* ============= Item Component ============ */

.itemContainer{
  margin-top : 15px;
  display : flex;
  border-radius: 8px;
  box-shadow: 0 0 5px 1px var(--secondaryGrey) ;
}

.itemContainer img{
  height : 20vh;
  width: 35vw;
  object-fit: cover;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}

div.itemInfo{
  padding : 10px 20px;
  flex-grow: 1;
  display : flex;
  flex-direction: column;
  justify-content: space-evenly;
}
div.itemInfo > div{
  display : flex;
}

div.itemInfo div p{
  font-size : 2.5vh;
  font-weight: 500;
  flex-grow: 1;
}

div.itemInfo .svg{
  height : 1.5rem;
  width: 1.5rem;
}

div.itemInfo > p.price{
  font-size : 1em;
  padding : 15px 0;
}


div.itemInfo a.moreDetails , section.cartPage section a{
  text-decoration: underline;
  color : var(--linkColor);
  flex-grow: 1;
}

.addBtn:hover, .subtractBtn:hover{
  cursor: pointer;
}

/* ============== ItemDetails Component ============= */

div.itemDetailsContainer{
  height: 700px;
  padding : 10px 30px 100px 30px;
  display : flex;
  flex-direction: column;
  align-items: center;
}


.itemDetailsContainer section{
  display : flex;
  align-items: center;
  width: 100%;
}
.itemDetailsContainer section >*{
  flex-grow: 1;
}

.itemDetailsContainer section a{
  color : var(--secondaryBlue);
  display : flex;
  justify-content: center;
}

.star{
  color : var(--gold);
}

div.itemDetailsContainer h3{
  font-weight: 400;
  padding : 8px;
  text-align: center;
}

div.itemDetailsContainer >  img {
  width: 90%;
  height: 25%;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 0 5px 1px var(--secondaryGrey);
  overflow: hidden;
}
.itemDetailsInfo{
 height: 20%;
 display : flex;
 flex-direction: column;
 align-items: flex-start;
  padding : 5px;
}
.itemDetailsInfo p{
  font-size: 1.5rem;
  text-align: left;
}

span.ingredients{
  font-size: 1.35rem;
  color: var(--primaryGrey);
}





.addToCart{
  background-color: var(--secondaryBlue);
  color : var(--black);
}

.removeFromCart{
  background-color: var(--secondaryGrey);
  color : white;

}

/* ======= Cart Component ================ */

section.cartPage {
  padding : 20px 20px 120px 20px;
}

section.cartPage > section.noItems{
  text-align: center;
  padding : 100px 50px;
  display : flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
section.cartPage > form > *:not(:first-child){
  margin-top : 20px;
}

section.cartPage button{
  background-color : var(--ternaryGrey);
}

/* ===== Cart Component > DisplayTotal Component=== */
.totalPage{
  padding : 0px 20px;
}

.totalPage > p{
  display : flex;
  font-size: 1.2rem;
  padding : 5px;
}

.totalPage > p:nth-child(-n+2){
  border-bottom: 1px dotted var(--primaryGrey);
}

.totalPage > div{
  width: 100%;
  height : .3rem;
  background-color: black;

}

.totalPage > p >*:first-child{
  flex-grow: 1;
}

 
 .totalPage >* {
  margin-top : 10px;
 }

 /* ====== Login & Create Account Component ========= */
 section.logIn, section.createAccount {
  padding : 120px 50px 200px 50px;
 }

.logInForm ,.createAccountForm{
  position: relative;
  display : flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
 
 }

.logInForm label, .createAccountForm label{
  position : absolute;
  left : -9999px
}
.logInForm div, .createAccountForm div{
  margin-top : 20px;
  display : flex;
  flex-direction: column;
}
.logInForm  input, .createAccountForm input{
  padding : 10px;
  font-size: 1.3rem;
  border-radius: 10px;
  margin-top: 5px;
}

.logInForm > button, .createAccountForm > button{
  background-color: var(--secondaryBlue);
  color : white;
  padding : 10px 0px;
  margin-top: 25px;
}

.logInForm p, .createAccountForm p{
  margin-top: 15px;
  color : var(--primaryGrey)
}

.logInForm p a,  .createAccountForm p a {
  text-decoration: underline;
  color : var(--linkColor);
}

.createAccountForm h4{
  font-size : 1.2rem;
}


/*  ================= Media Queries ==============*/

@media only screen and (min-width: 695px) {

  header {
    padding : 20px;
  }
  header h1{
    font-size : 4rem;
  }
  nav.navRoutes{
    position : static;
  }
  
  nav.navRoutes ul li{
    border : none;
  }
  nav.navRoutes ul li a {
    flex-direction: row;
    justify-content: center;
  }
  nav.navRoutes ul li a > *{
    flex-grow: 1;
  }
  nav.navRoutes ul li a p{
    font-size : 1.25rem;
  }
  nav.navRoutes ul li a .svg{
    height: 2.3rem;
    width: 2.3rem;
  }
}


/* @media only screen and (min-width: 940px) {

} */